{{define "archiveData"}}
<div class="archiveData">
	{{$messageseq := (seq (len .Messages) true)}}
	{{$premsg := (newBlankMsg)}}
	{{range $i, $value := $messageseq}}
		{{$msg := index $.Messages $value}}
		<div class="discordMessage">
			{{if (or (ne $msg.Author.ID $premsg.Author.ID) (ne $msg.Author.Username $premsg.Author.Username) (ne $msg.Author.Avatar $premsg.Author.Avatar))}}
			<div id="discordMessageLeft">
				<img id="discordMessageAvatar" src="{{dgAvatar $msg.Author}}">
			</div>
			
			<div id="discordMessageRight">
				<div id="discordMessageTop">
					<p id="discordMessageUsername">{{$msg.Author.Username}}#{{$msg.Author.Discriminator}}</p>
					<p id="discordMessageDate">{{formatTime $msg.Timestamp}}</p>
				</div>
				<div id="discordMessageBottom">
					<p id="discordMessageContent">{{$msg.Content | emojiToImgs | markdownParse}}</p>
					{{range $msg.Embeds}}
					{{if .Color}}
					<div class="discordMessageEmbed" style="border-color: {{.Color | color}};">
					{{else}}
					<div class="discordMessageEmbed">
					{{end}}
					{{if .Author}}
					<p class="embedAuthor">
					{{if .Author.IconURL}}
						<img src="{{.Author.IconURL}}" alt="Author icon" style="height: 1em;" /> &nbsp;
					{{end}}
						{{if .Author.URL}}<a href="{{.Author.URL}}">{{end}}{{.Author.Name}}{{if .Author.URL}}</a>{{end}}
					</p>
					{{end}}
					{{if .Title}}
					<div class="embedTitle">
						<h1>{{if .URL}}<a href="{{.URL}}">{{end}}{{.Title}}{{if .URL}}</a>{{end}}</h1>
					</div>
					{{end}}
					{{if .Description}}
					<p class="embedDescription">
						{{.Description | emojiToImgs | markdownParse}}
					</p>
					{{end}}
					{{if .Footer}}
					<p class="embedFooter">
					{{if .Footer.IconURL}}
						<img src="{{.Footer.IconURL}}" alt="Footer icon" style="height: 1em;" /> &nbsp;
					{{end}}
						{{.Footer.Text}}
						{{if .Timestamp}}
						&middot; {{formatTime $msg.Timestamp}}
						{{end}}
					</p>
					{{end}}
					</div>
					{{end}}
					{{range $attach := $msg.Attachments}}
					<div id="discordMessageAttachment">
						<div id="discordMessageAttachementText">
							<a id="discordMessageAttachementText" href="{{$attach.URL}}">Attachment: {{getFilename $attach.URL}}</a>
						</div>
						<div id="discordMessageImage">
							{{if (and (stringsHasSuffixAny $attach.ProxyURL ".png" ".jpeg" ".jpg" ".gif" ".webp") (ne $attach.Width 0) (ne $attach.Height 0))}}
								{{if (ne $attach.ProxyURL "")}}
									<img id="discordMessageImage" src="{{$attach.ProxyURL}}" href="{{$attach.URL}}">
								{{else}}
									<img id="discordMessageImage" src="{{$attach.URL}}" href="{{$attach.URL}}">
								{{end}}
							{{end}}
						</div>
					</div>
					{{end}}
				</div>
			</div>
			{{else}}
			<div id="discordMessageRightNoU">
				<div id="discordMessageBottom">
					<p id="discordMessageContent">{{$msg.Content | emojiToImgs | markdownParse}}</p>
					{{range $attach := $msg.Attachments}}
					<div id="discordMessageAttachment">
						<div id="discordMessageAttachementText">
							<a id="discordMessageAttachementText" href="{{$attach.URL}}">Attachment: {{getFilename $attach.URL}}</a>
						</div>
						<div id="discordMessageImage">
							{{if (and (stringsHasSuffixAny $attach.ProxyURL ".png" ".jpeg" ".jpg" ".gif" ".webp") (ne $attach.Width 0) (ne $attach.Height 0))}}
								{{if (ne $attach.ProxyURL "")}}
									<img id="discordMessageImage" src="{{$attach.ProxyURL}}" href="{{$attach.URL}}">
								{{else}}
									<img id="discordMessageImage" src="{{$attach.URL}}" href="{{$attach.URL}}">
								{{end}}
							{{end}}
						</div>
					</div>
					{{end}}
				</div>
			</div>
			{{end}}
		</div>
		{{$premsg = $msg}}
	{{end}}
</div>
{{end}}
