{{define "archiveViewer"}}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/discord.css">
	<title>{{ if ge .PackVersion 3 }}#{{ .Channel.Name }}{{ else }}Viewing unamed channel{{ end }}</title>
</head>
<body>
	{{template "archiveHeader" .}}
	{{template "archiveData" .}}
	{{template "archiveFooter" .}}
</body>
</html>
{{end}}
